/* Police variable */
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/PublicSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/PublicSans-Italic-VariableFont_wght.ttf") format("truetype");
}

/* Polices statiques */
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/static/PublicSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/static/PublicSans-Bold.ttf") format("truetype");
}

:root {
  /* font-weight*/
  --thin: 100;
  --extra-ligth: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 500;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;

  /* font-sise  */
  --preset-1: 2rem;
  --preset-2: 1.25rem;
  --preset-3: 1rem;
  --preset-4: 0.875rem;
  --preset-5: 0.75rem;
}
body {
  font-family: "PublicSans", serif;
  font-optical-sizing: auto;
  font-size: var(--preset-4);
  font-weight: var(--medium);
  letter-spacing: 0.88px;
}

@layer components {
  .text-preset-1 {
    font-size: var(--preset-1);
    font-weight: var(--bold);
    letter-spacing: 0px;
    line-height: 120%;
  }
  .text-preset-2 {
    font-size: var(--preset-2);
    font-weight: var(--bold);
    letter-spacing: 0px;
    line-height: 120%;
  }
  .text-preset-3 {
    font-size: var(--preset-4);
    font-weight: var(--bold);
    letter-spacing: 0px;
    line-height: 150%;
  }
  .text-preset-4 {
    font-size: var(--preset-4);
    font-weight: var(--medium);
    letter-spacing: 0px;
    line-height: 150%;
  }
  .text-preset-4-bold {
    font-size: var(--preset-4);
    font-weight: var(--bold);
    letter-spacing: 0px;
    line-height: 150%;
  }
  .text-preset-5 {
    font-size: var(--preset-5);
    font-weight: var(--medium);
    letter-spacing: 0px;
    line-height: 150%;
  }
  .text-preset-5-bold {
    font-size: var(--preset-5);
    font-weight: var(--bold);
    letter-spacing: 0px;
    line-height: 150%;
  }
}
