:root {
  --grey-900: #201f24;
  --beige-100: #f8f4f0;
}

@layer components {
  .spinner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid var(--grey-900);
    border-right-color: var(--beige-100);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--beige-100);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.transition-grid-cols {
  transition: grid-template-columns 300ms ease;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield; /* Standard */
  -moz-appearance: textfield; /* Firefox */
}
.rotate-icon {
  transform: rotateX(180deg);
}
